@font-face {
   font-family: 'arlrdbd';
   font-display: swap;
   src: url('arlrdbd/font.ttf');
}
@font-face {
   font-family: 'Futura Std Light';
   font-display: swap;
   src: url('Futura Std Light/font.ttf');
}
